@import url('https://fonts.googleapis.com/css2?family=Overpass');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu');
*{
  font-family: 'Overpass',  sans-serif;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
}